@import './base.css';

:root {
  --yellow: #ffbb00;
  --header-height: 100px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: bold;

  text-shadow: 0 0 5px var(--yellow);
}
